:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.blurred-background {
  background-color: rgba(256, 256, 256, 0.3) !important;
  backdrop-filter: blur(10px) !important;
}
section {
  text-align: center;
  margin-top: 3rem;
}
section h4 {
  margin-bottom: 3rem;
}
#source-code {
  min-height: 80vh;
}
section h2 {
  min-height: 100vh;
  margin: 2rem 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}
button {
  background-color: #f9f9f9;
}
body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
